In [6]:
# Cell 1 — check environment & working folder
import os, sys
print("Python executable:", sys.executable)
print("Current working directory:", os.getcwd())
print("Files/folders here:", os.listdir('.'))

Python executable: C:\Users\Bhabani Sankar Lenka\miniconda3\envs\rakesh\python.exe
Current working directory: C:\Users\Bhabani Sankar Lenka\Documents\Projects\rakesh-portfolio
Files/folders here: ['.git', '.gitignore', 'learning', 'LICENSE', 'notebooks', 'projects', 'python_basics', 'README.md', 'requirements.txt', 'sample_data.csv', 'tatus']

In [7]:
# Cell 2 — set working directory to repo root (run only if needed)
repo_root = r"C:\Users\Bhabani Sankar Lenka\Documents\Projects\rakesh-portfolio"
import os
os.chdir(repo_root)
print("Changed working dir to:", os.getcwd())
print("Now files/folders:", os.listdir('.'))

Changed working dir to: C:\Users\Bhabani Sankar Lenka\Documents\Projects\rakesh-portfolio
Now files/folders: ['.git', '.gitignore', 'learning', 'LICENSE', 'notebooks', 'projects', 'python_basics', 'README.md', 'requirements.txt', 'sample_data.csv', 'tatus']

In [8]:
# Cell 3 — ensure notebooks folder exists
import os
os.makedirs("notebooks", exist_ok=True)
print("notebooks folder exists:", os.path.isdir("notebooks"))
print("notebooks contents:", os.listdir("notebooks"))

notebooks folder exists: True
notebooks contents: ['.ipynb_checkpoints', 'pandas_basics.ipynb', 'README.md']

In [9]:
# Cell 4a — import pandas and create demo dataframe
import pandas as pd
data = {
    "Name": ["Rakesh", "Vyuk", "Vegeta"],
    "Age": [18, 25, 35],
    "Skill": ["Python", "AI Strategy", "Saiyan Pride"]
}
df = pd.DataFrame(data)
df  # Jupyter will display this

     Name  Age         Skill
0  Rakesh   18        Python
1    Vyuk   25   AI Strategy
2  Vegeta   35  Saiyan Pride

In [10]:
# Cell 4b — save dataframe to notebooks/sample_data.csv and read it back
csv_path = os.path.join("notebooks", "sample_data.csv")
df.to_csv(csv_path, index=False)
print("Saved CSV to:", csv_path)

df_loaded = pd.read_csv(csv_path)
df_loaded  # display the reloaded file to confirm

Saved CSV to: notebooks\sample_data.csv

     Name  Age         Skill
0  Rakesh   18        Python
1    Vyuk   25   AI Strategy
2  Vegeta   35  Saiyan Pride

In [11]:
# Cell 5 — append daily log entry
log_line = "2025-09-04: Created pandas_basics.ipynb and sample_data.csv; learned saving/loading CSV with pandas.\n"
with open("learning/daily_log.md", "a", encoding="utf-8") as f:
    f.write(log_line)
print("Daily log updated.")

Daily log updated.